.home_page_data {
  width: 100%;
}

.home_page_img_section {
  text-align: center;
  padding: 2vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.home_section_data {
  border: 1px solid #fe6f27;
  height: 86%;
  box-sizing: content-box;
  overflow-y: scroll;
  width: 100%;
}

/* scroll bar */
/* width */
.home_section_data::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.home_section_data::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.home_section_data::-webkit-scrollbar-thumb {
  background: #fe6f27;
  border-radius: 10px;
}

/* Handle on hover */
.home_section_data::-webkit-scrollbar-thumb:hover {
  background: #fe6f27;
}

/* scroll bar */
.all_pages_data {
  display: flex;
}

#overflowTest {
  color: rgb(2, 2, 2);
  padding: 15px;
  width: 100%;
  height: 78vh;
  overflow: scroll;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.image img {
  height: 250px;
  width: 200px;
}

.image {
  display: flex;
  justify-content: space-around;
}

.text-box {
  overflow: scroll;
  border: 1px solid;
  height: 150px;
  width: 100%;
  text-overflow: ellipsis
}

.text_and_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text_btn {
  margin-top: 28px;
}

.div {
  margin-top: 10px;
}

.h1_home_page_text {
  text-align: center;
}

.align_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img_upload_btn{
  height: 20px;
  width: 87px;
  margin-top: 11px;
}
.text-box{
  margin-top: 10px;
  border: none;
  border-top: 8px solid rgba(240, 46, 170, 0.4);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.f_right{
  float: right;
}